.header-area .main-header .menu-wrapper .main-menu ul li a {
	font-family: SVN_Miller_Banner;
}

#logo_pc{
	position: relative;
}
.header-area .main-header .menu-wrapper .main-menu ul li:not(:nth-child(4))::before {
   
    top: calc(50% - 4px);
}
header #logo_pc .glow {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/glow.png');
	background-size: cover;
}
header #logo_pc .glow-1 {
	width: 24px;
	height: 24px;
	top: 73px;
	left: 96px;
	animation: Parkle linear 2s infinite;
}

header #logo_pc .glow-2 {
	width: 20px;
	height: 20px;
	top: 35px;
	left: 123px;
	animation: Parkles linear 2s infinite;
}
.ov-h{
	overflow-y: hidden !important;
	max-height: 100vh;
}
body::-webkit-scrollbar {
	width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
body::-webkit-scrollbar-thumb {
	background: #540001;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
@keyframes Parkles{
	0% {
		opacity: 1;
		transform: scale(1.2);
	}

	25% {
		opacity: .4;
		transform: scale(1.15) rotate(90deg);
	}
	50% {
		opacity: 0.1;
		transform: scale(.9) rotate(180deg);
	}
	75% {
		opacity: .4;
		transform: scale(1.15) rotate(270deg);
	}
	100% {
		opacity: 1;
		transform: scale(1.2) rotate(360deg);
	}
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes Parkle{
	0% {
		opacity: 0.1;
		/*transform: scale(.9);*/
	}

	25% {
		opacity: .4;
		/*transform: scale(.9) rotate(90deg);*/
	}
	50% {
		opacity: 1;
		/*transform: scale(1.2) rotate(180deg);*/
	}
	75% {
		opacity: .4;
		/*transform: scale(.9) rotate(270deg);*/
	}
	100% {
		opacity: 0.1;
		/*transform: scale(.9) rotate(360deg);*/
	}
}

body.opVidIntital #opVid {
	display: block;
}
.animation_img_g{
	position: relative;
	overflow: hidden;
}
.animation_img_g:before{
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.animation_img_g img{
	transition: all 1s;
}
.animation_img_g:hover:before{
	-webkit-animation: shine 1.5s;
	animation: shine 1.5s;
}
.animation_img_g:hover img{
	transform: scale(1.1) rotate(2deg);
}

#opVid {
	display: block;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
}
#opVid .video {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#opVid #video_background {
	background: black;
	position: fixed;
	top: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 100%;
	overflow: hidden;
}
#opVid .buttons {
	position: fixed;
	width: 100%;
	bottom: 70px;
	text-align: center;
	z-index: 100;
}
#opVid .buttons a {
	border: #d6dca2 1px solid;
	border-radius: 3px;
	text-transform: uppercase;
	color: #d6dca2;
	text-decoration: none;
	padding: 10px 20px;
	-webkit-transition: all ease 0.38s;
	-moz-transition: all ease 0.38s;
	-o-transition: all ease 0.38s;
	-ms-transition: all ease 0.38s;
	transition: all ease 0.38s;
}
/*new */
.newest_news .news_container{
	transition: all 1s;
}
.newest_news.not_mg .news_container{
	margin-top: 20px;
}
.library_t{
	padding: 0px 5rem;
	background: url(../img/van2.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}
.sliders{
	padding-bottom: 5.5rem;
}
.title_text h3 {
	text-align: center;
	font-size: 3.8rem;
	text-transform: uppercase;
	color: #fff;
	padding: 3.4rem 0px;
}
.item_lib{
	height: 338px;
	position: relative;
	overflow: hidden;
}
.item_lib img{
	position: absolute;
	left: 0;
	top: 0;
	min-width: 100%;
	height: 100%;
	object-position: left;
	object-fit: cover;
}
.sliders{
	display: flex;
	align-items: center;
	margin: 0px -7px;
}
.gr1{
	width: 40%;
	padding: 0px 7px;
}
.gr2{
	width: 30%;
}


.slider_item {
	position: relative;
}
.slider_item .owl-nav{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	top: calc(50% - 25px);
	padding: 0px 40px;
}
.slider_item .owl-nav button img{
	height: 50px;
}
.slider_item .owl-nav .owl-next{
	float: right;
}
.owl-nav button{
	opacity: 1;
	visibility: visible;
	transition: all .5s;
}
.owl-nav button.disabled{
	opacity: 0;
	visibility: hidden;
}
.slider_item .owl-nav .owl-prev{
	transform: rotateZ(180deg);
}
.owl-nav button{
	background: transparent;
	padding: 0px;
	outline: none;
	border: 0px;
}
@media(max-width: 1370px){
	.gr1{
		width: 50%;
	}
	.gr2{
		width: 25%;
	}
}
footer{
	border-top: 0px;
}
.banner_area .item{
	height: 100vh;
}
.banner_area .video_c{
	position: relative;
}
.banner_area .video_c:after{
	width: 100%;
	height: 100%;
	content: '';
	background: transparent;
	position: absolute;
	left: 0;
	top: 0;
}
.newest_news{
	position: relative;
}
.newest_news .bg_l{
	position: absolute;
	left: 0;
	top: -5rem;
	width: 100%;
}
.newest_news .bg_l img{
	width: 100%;
}
.newest_news .news_container{
	position: relative;
	z-index: 99;
}
.news_container .news_info {
	justify-content: center;
	padding: 0px;
	
}
.news_container .news_info .ni_created_at {
	margin-bottom: 2.9rem;
}
.news_container .news_info .ni_project_name {
	font-size: 2rem;
	margin-bottom: 1.6rem;
}
.news_container .news_info .ni_title {
	font-size: 2.4rem;
	display: block;
	margin-bottom: 1.8rem;
	line-height: 3.2rem;
}
.news_container .news_info p {
	font-size: 1.6rem;
	line-height: 1.8rem;
	text-align: justify;

	color: #FFFFFF;
}
.news_container .news_info .ni_created_at::before {
	left: -8.3rem;
}
.news_container .news_info >div{
	position: relative;
	padding-left: 8.3rem;
	padding-right: 10rem;
}
.news_container .news_info >div:after{
	content: '';
	position: absolute;
	left: calc(-100% + 29px);
	width: calc(100% - 29px);
	height: 1px;
	background: rgb(255 255 255 / .5);
	top: 12px;
}
.short_intro .si_container .si_content {
	width: unset;
}

.short_intro .si_container .si_contents h3 ,
.si_contents nav {
	display: block;
	width: 100%;
}
.group_mb{
	margin-bottom: 5.7rem;
}
.border-item{
	/*border: 1px dashed #C4C4C4;*/
	margin-bottom: 5.3rem;
	height: 1px;
	width: 100%;
	position: relative;
}
.border-item:before {
	position: absolute;
	left: calc(5rem + 7px);
	width: calc(100% - 10rem);
	height: 1px;
	top: 0rem;
	content: '';
	border: 1px dashed #C4C4C4;
}
.library_t{
	margin-bottom: 6rem;
}
.mg-b6r{
	margin-bottom: 6rem !important ;
}
.content_text{
	width: calc(100% - 138px);
}
.news .news_carousel .item .nc_news .excerpt p {
	margin-bottom: 2.2rem;
}
.subscribing .s_form .subscribing_form .sf_input {
	border-image: linear-gradient(to right, rgb(232 214 198 / .4) 0% , rgb(183 121 65 / .7) 80%, rgb(255 209 168 / .6) 100%);
	border-image-slice: 1;
	margin-bottom: 3.1rem;
	height: 3.5rem;
}
footer {
	padding-top: 0px;
}
.contact {
	border-bottom: 1px solid rgb(231 84 54 / .3);
}
.footer-area{
	padding: 0px 12.5rem;
	padding-top: 5rem;
	padding-bottom: 4rem;
}
.footer-area .container{
	width: 100%;
	max-width: unset;
}
/*footer line*/
.copyright:before{
	position:absolute;
	left: 0;
	top: 8px;
	height: 1px;
	content: '';
	background: rgb(255 255 255 / .3);
}
.copyright:after{
	position:absolute;
	right: 0;
	top: 8px;
	height: 1px;
	content: '';
	background: rgb(255 255 255 / .3);
}
.line1,.line_full,.line2{
	position: relative;
	overflow: hidden;
}
.line1:after{
	position: absolute;
	right: 0;
	top: 8px;
	content: '';
	width: calc(100% - 160px);
	background: rgb(255 255 255 / .3);
	height: 1px;
}
.line1 .link_share{
	width: 140px;
}
.line_full:after{
	position: absolute;
	right: 0;
	top: 8px;
	content: '';
	width: 100%;
	background: rgb(255 255 255 / .3);
	height: 1px;
}
.line2:after,.line2:before{
	position: absolute;
	left: 0;
	top: 8px;
	content: '';
	width: calc((100% - 450px)/2);
	background: rgb(255 255 255 / .3);
	height: 1px;
}
.line2:after{
	left: unset;
	right: 0;
}
.copyright .group{
	font-size: 1.5rem;
	color: #FFFFFF;
	font-style: italic;
}
.copyright .group span{
	margin-right: 1.5rem;
}
.footer-area .branchs .branch img {
	margin-top: 5px;
	margin-right: 7px;
}
.footer-area .partners p {
	font-style: italic;
}
.news {
	margin-bottom: 6.7rem;
}
.policies h3 {
	margin-bottom: 5.5rem;
}
#logo_pc{
	position: relative;
}
#logo_pc:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
        top: 11px;
    left: 111px;
    animation: Parkle linear 2s infinite;
    background-image: url('http://sonaseavandonharborcity.vn/wp-content/themes/vandon/img/glow.png');
}
.banner_area .banner_container{
	background: transparent;
}
.img_button{
	width: 100%;
	margin-top: -2px;
}


/*map*/
.detail_mb .tooltip_img{
	position: absolute;
	left: 0;
	width: auto;
	top: 0;
	z-index: 0;
	opacity: 0;
	z-index: 999;
}
.detail_mb .tooltip_img.active{
	opacity: 1;
}
.detail_mb .tooltip_img.tl1 {
	left: 34%;
	top: 39%;
}
.detail_mb .tooltip_img.tl2 {
	left: 37%;
	top: 41%;
}
.detail_mb .tooltip_img.tl3 {
	left: 29%;
	top: 34%;
}
.detail_mb .tooltip_img.tl4 {
	left: 11%;
	top: 29%;
}
.detail_mb .tooltip_img.tl5 {
	left: 15%;
	top: 32%;
}
.detail_mb .tooltip_img.tl6 {
	left: 23%;
	top: 23%;
}
.detail_mb .tooltip_img.tl7 {
	left: 28%;
	top: 24%;
}
.detail_mb .tooltip_img.tl8 {
	left: 33%;
	top: 18%;
}
.detail_mb .tooltip_img.tl9 {
	left: 53%;
	top: 14%;
	z-index: 999;
	opacity: 1;
}
.detail_mb .tooltip_img.tl10 {
	left: 42%;
	top: 26%;
}
.detail_mb .tooltip_img.tl11 {
	left: 67%;
	top: 24%;
}
.detail_mb .tooltip_img.tl12 {
	left: 49%;
	top: 34%;
}
.detail_mb .tooltip_img.tl13 {
	left: 74%;
	top: 33%;
}
.detail_mb .tooltip_img.tl14 {
	left: 72%;
	top: 47%;

}
.detail_mb .tooltip_img.tl15 {
	left: 74%;
	top: 47%;

}
.detail_mb .tooltip_img.tl16 {
	left: 60%;
	top: 57%;
}

.title_mb h2{
	font-family: SVN-Miller Banner;
	font-weight: normal;
	font-size: 3.8rem;
	/*line-height: 51px;*/
	color: #1A1A1A;
	text-align: center;
}
.detail_mb{
	position: relative;
}
.detail_mb svg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

}
.detail_mb svg path{
	opacity: 0;
	fill: rgb(81 58 138 / 1);
	cursor: pointer;
	transition: all .5s;
	mix-blend-mode: overlay;
	position: relative;
}

.detail_mb svg path.sk{
	fill: rgb(255 109 135 / 1);
}
.detail_mb svg path.bbq{
	fill: #C103BA;
}
.detail_mb svg path.dl{
	fill: #FFDD9A; 
}
.detail_mb svg path.sk{
	fill: #C103BA;
}
.detail_mb svg path.sk{
	fill: rgb(255 109 135 / 1);
}
.detail_mb svg path.at{
	fill: rgb(0 192 236 / 1);
}
.detail_mb svg path.ppr{
	fill: rgb(160 54 40 / 1);
}
.detail_mb svg path.ppr_mode{
	fill: #2758A5;
}
.detail_mb svg path.ht{
	fill: rgb(229 0 1 / 1);
	filter: blur(4px);
}
.detail_mb svg path.tt{
	fill:rgb(255 77 0 / 1);
}
.detail_mb svg path.qt{
	fill: rgb(2 25 153 / 1);
}
.detail_mb svg path.pp{
	fill: rgb(241 117 139 / 1);
}
.detail_mb svg path.bc{
	fill: rgb(25 97 0 / 1);
}
.detail_mb svg path.bx{
	fill: rgb(196 219 54 / 1);
}
.detail_mb svg path.cau{
	fill: transparent;
}
.detail_mb svg path.active{
	opacity: 1;
}
.detail_mb img{
	width: 100%;
}
.title_mb h2{
	margin: 0px;
	padding: 0px;
	padding-top: 3.1rem;
	padding-bottom: 6.2rem;
}
.news .news_carousel .item .nc_news .excerpt p {
	height: 40px;
	overflow: hidden;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.bg_footer:after,
.bg_footer:before{
	display: none;
}
.link_share a{
	display: inline-block;
	margin-right: 7px;
}
.copyright {
	position: relative;
}

.footer-area .branchs h4 {
	padding-top: 1.5rem;
}
/*reponse*/
.text_concept{
	display: flex;
	align-items: center;
}
.text_concept .cs_body{
	width: 40%;
	padding: 5rem 5.6rem 5rem 98px;
}
.text_concept .cs_img_container{
	width: 60%;
	display: block;
	position: relative;
	align-self: stretch;
	height: unset;
}
.text_concept .cs_img_container img{
	width: 100%;
}
.section_title_2::after {
    width: calc(100% - 253px);
}