@mixin transition ($time) {
	transition:  all $time ease;
	-webkit-transition:  all $time ease;
	-moz-transition:  all $time ease;
	-o-transition:  all $time ease;
	-ms-transition:  all $time ease;
}
@mixin tranform_scale ($scale) {
	-webkit-transform: scale($scale);
	   -moz-transform: scale($scale);
	    -ms-transform: scale($scale);
	     -o-transform: scale($scale);
	        transform: scale($scale);
}
@mixin clear-ul($float-area, $width-custom, $margin-custom, $padding-custom, $position-dir, $text-align, $display, $list-style) { 
	float: $float-area;
	width:$width-custom; 
	margin:$margin-custom;  
	padding:$padding-custom; 
	position: $position-dir;
	text-align: $text-align;
	display: $display;
	list-style:$list-style;
	box-sizing: border-box;
}
@mixin clear-li($float-area, $width-custom, $margin-custom, $padding-custom, $position-dir, $text-align, $display, $list-style) { 
	float: $float-area;
	width:$width-custom; 
	margin:$margin-custom;  
	padding:$padding-custom; 
	position: $position-dir;
	text-align: $text-align;
	display: $display;
	list-style:$list-style;
	box-sizing: border-box;
}
@mixin button-custom($width, $height, $background, $color, $center) { 
	width: $width;
	height:$height; 
	background:$background;  
	color:$color;
	line-height: $height + 3;
	font-weight:700;
	text-align:$center;
	a{ display: block;color:$color;}
	&:hover {
    	box-shadow: 0px 0px 4px 3px #ccc;
	}
}
@mixin line-standard($color, $height, $width){
	display: block;
    height: $height;
	width:$width;
	background:$color;
}
