$color-main: #333333;
$color-main-hover:#00A021;
$font-one:'Roboto', sans-serif;
$font-two:'Roboto', sans-serif;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-36: 36px;
$font-size-45: 45px;